<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/perfil_style.css">
</head>
<body>
    <a href="http://localhost:3000" class="top-left-button">Clique aqui para voltar</a>
    <div class="container">
        <h2>Nome: <%= nomeUser %></h1>
        <h2>Idade: <%= idadeUser %></h2>
    </div>
    <div class="container">
        <h2>Dados provenientes do MongoDB</h2>
        <h2>
            <% perfil.map((perfil) => { %>
                Nome: <%= perfil.nome %> <%= perfil.sobrenome %>
        </h2>
        <h2>Idade: <%= perfil.idade %></h2>  
            <% }) %>        
    </div>         
</body>
</html>
